* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Main_card{
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    border: none;
    display: block;
    justify-content: center;
}

.qr_main_box{
    display: flex;
    justify-content: center;
}

.qr_box{
    width: 288px;
    height: 288px;
    border: none;
    border-radius: 10px;
    background-color: #2C7DFA;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_box > img{
    width: 160px;
    height: 160px;
}

.text_box {
   text-align: center;
   width: 288px;
   padding-left: 20px;
   padding-top: 25px;
}

.text_box > h1{
    color: #1F314F;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.72px;
    font-family: "Outfit" , serif;
}

.text_box > p{
    color: #7D889E;
    font-family: "Outfit" , serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 0.19px;
    padding-top: 10px;
}
